<% content_for(:page_title) do %><%= posts_title(@tag) %><% end -%>
<% content_for(:head)       do %><%= auto_discovery_link_tag(:atom, @tag.nil? ? formatted_posts_path(:format => 'atom') : posts_path(:tag => @tag, :format => 'atom')) %><% end -%>

<% if @posts.empty? -%>
	<p>there are no posts yet.</p>
<% else -%>
	<% @posts.each do |post| -%>
	  <%= render :partial => 'post', :locals => {:post => post} %>
	<% end -%>
  <% if more_content? -%>
    <div class="related">looking for more? head on over to the <%= link_to("yesterday", yesterday_index_path) %>.</div>
  <% end -%>
<% end -%>
